// Breakpoints
$cba-breakpoint-xs: "320px"; // Mobile devices
$cba-breakpoint-s: "480px"; // iPads, Tablets
$cba-breakpoint-m: "768px"; // Small screens, laptops
$cba-breakpoint-l: "1024px"; // Desktops, large screens
$cba-breakpoint-xl: "1200px"; // Extra large screens, TV