//dark
.horizontal-row {
    border: 1px solid lightgray;
}

//light
.horizontal-row-lights {
    border-top: 1px solid #eee;
}

.header {
    text-align: center;
    font-size: 36px;
    font-family: Raleway, sans-serif;
    color: #333;
}
