.footer-panel {
    background-color: rgb(67, 67, 67);
    padding: 18px 18px;
    display: flex;
    justify-content: space-between;
}

.footer-text {
    font-size: 18px;
    font-family: Raleway, sans-serif;
    color: #fff;
    margin: auto 0;
}